header{
    background-image: url("../../../assets/bg-header.png");
    min-height:500px;
    padding: 0% 0 7% 0;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

header[data-lang="hr"] {
  .heroOrange {
    font-size: 70px;
  }
  .heroBlue{
    font-size: 20px;
  }
  .heroTitle{
    font-size: 18px;
  }
}

header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 0;
}

.heroBlue{
    color:var(--secondary);
    font-family: var(--font-primary);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}

.heroOrange{
    color:var(--primary);
    font-size: 80px;
    line-height: 0.9;
    font-weight: 540;
    text-transform: uppercase;
    font-family:var(--font-heading);

}


.heroTitle{
    color:var(--title);
    font-family: var(--font-primary);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.box-header{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    width:70%;
    align-items: center;
    overflow: visible;
    position: relative;
    margin-right: 0px;


}

.text-header{
    grid-column: 1 / 2;
  z-index: 2;


}

.image-header{
    margin-top: 40px;
    grid-column: 2 / 3;
    background-image: 
    linear-gradient(
        to left,
        rgba(124, 124, 124, 0),
        rgba(226, 226, 226, 100)
        ),
        url("../../../assets/header-img.jpg");
    background-size: cover;
    background-position: center;
    min-height: 450px;
    width:150%;
    transform: translateX(-230px) scale(1.00);
    z-index: 1;
}

.icon-header{
    position: absolute;
    right: 0%;
    bottom: -10%;
    width: 300px;
    height: 500px;
    z-index: 3;
    img{
        width: auto;
        height:100%;
    }
}

@media (max-width: 1024px) {
    header::before {
        background: rgba(226, 226, 226, 0.7); /* fade effect */
        height:700px;
    }
    .box-header {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        h1{
            font-size: 60px;
            margin-bottom: 10px;

        }

        h4{
            font-size: 20px;
        }
  }

  .text-header {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .heroOrange {
    font-size: 60px;
  }

  .heroBlue {
    font-size: 22px;
  }

  .heroTitle {
    font-size: 18px;
  }

  .image-header {
    width: 100%;
    min-height: 350px;
    transform: none;
    margin-top: 30px;
  }

  .icon-header {
    width: 180px;
    height: 300px;
    right: -20px;
    bottom: -30px;
  }
}

@media (max-width: 768px) {
    
  header {
    min-height: auto;
    height:600px;
    background-size:crop;
    background-position: center;
    background-repeat: no-repeat;
  }

  .box-header {
    width: 1005%;
    display: flex;
    flex-direction: column;
  }

  .text-header {
    text-align: center;
    width: 90%;

    h1{
        font-size: 50px;
    }

    h4{
        font-size: 16px;
    }
  }

  .heroOrange {
    font-size: 42px;
    line-height: 1;
  }

  .heroBlue {
    font-size: 18px;
  }

  .heroTitle {
    font-size: 16px;
  }

  .image-header {
    width: 100%;
    min-height: 250px;
    margin-top: 60px;
    transform: none;
  }

  .icon-header {
    display: none;
  }
}