.aboutTitle {
  color:var(--title);
  font-family:var(--font-heading);
  grid-column: 1 / -1;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 30px;
}

.box-about {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
  margin:auto;
  align-items: start;
  img{
        width:80%;
        justify-self: center;
    }
    p{
      text-align: left;
    }
}

.aboutBox{
  height: 100%;
  display:flex;
  margin:auto;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
}


.blue{
  color:var(--secondary);
}

@media (max-width: 1024px) {
  .box-about {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    text-align: center;
  }
  .aboutBox{
    align-items: center;
    text-align: center;
    p{
      text-align: center;
    }
  }

  .aboutTitle {
    font-size: 40px;
    text-align: center;
  }

  .aboutBox img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .box-about {
    grid-template-columns: 1fr;
    width: 50%;
  }

  .aboutTitle {
    font-size: 26px;
    text-align: center;
  }

  .aboutBox {
    text-align: center;
    align-items: center;
  }

  .aboutBox p {
    text-align: center;
    font-size: 14px;
  }

  .aboutBox img {
    width: 50%;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .aboutTitle {
    font-size: 22px;
  }

  .aboutBox img {
    width: 60%;
  }

  .aboutBox p {
    font-size: 13px;
  }
}